$primary:#002954;
$Darkprimary:#011c39;
$Lightprimary:#fde5da;
$WindowLightprimary:#fbf6f3;
$XDarkprimary:#632204;
$secondary:#FFFFFF;
$darkTColor:#333333;
$LightTColor:#FFFFFF;
$LightColor:#FFFFFF;